/* || HEADER STRUCTURE */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  min-height: 64px;
  background-color: #F0F4F5;
  border-bottom: 1px solid #ddd;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex: 1;
}

.header-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  justify-content: flex-end;
}

.header-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0B3A40;
  color: #F0F4F5;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.header-nav a {
  display: block;
  margin: 0.5rem 0;
  text-align: center;
  color: #F0F4F5;
  text-decoration: none;
}
.close-icon {
  font-size: 1.8rem;
  color: #F0F4F5;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 1rem;
}


/* || HAMBURGER MENU */

.menu-checkbox {
  position: absolute;
  left: -9999px;
}

.hamburger-icon {
  font-size: 1.8rem;
  color: #0B3A40;
  cursor: pointer;
  z-index: 20;
}

.menu-checkbox:checked ~ .header-nav {
  display: flex;
}


/* || LOGO AND ICONS */

.logo {
  height: 64px;
  max-width: 160px;
  object-fit: contain;
}

.icon-group {
  display: flex;
  gap: 16px;
}
.icon-group a {
  color: #0B3A40;
  font-size: 1.6rem;
  padding: 6px;
  display: flex;
  align-items: center;
  text-decoration: none;
}


/* || HEADER MEDIA QUERY */

@media (min-width: 601px) {
  .header {
    background-color: #F0F4F5;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "search logo icons";
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    margin: 0 auto;
    min-height: 50px;
  }

  .header-left {
	grid-area: search;
  }

  .header-center {
	grid-area: logo;
  }

  .header-right {
	grid-area: icons;
  }

  .header-nav {
    position: static;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
 	align-items: center;
	background-color: #0B3A40;
	color: #F0F4F5;
	padding: 12px 0;
 	width: 100%;
  	height: 60px;
  }

  .header-nav a {
    margin: 0 24px;
    padding: 0;
    line-height: 60px;
	transition: all 0.3s ease-in-out;
  }

  .header-nav a:hover {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .menu-checkbox, .hamburger-icon, .close-icon {
	display: none;
  }

  .icon-group a {
    color: #0B3A40;
    font-size: 1.6rem;
    padding: 10px;
  }

  .menu-checkbox {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  .logo {
    height: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
  }
}