<header>
		<input type="checkbox" id="menu-checkbox" class="menu-checkbox" />
		<div class="header-top">
			<div class="header-left">
				<label for="menu-checkbox" class="hamburger-icon"><i class="fa-solid fa-bars"></i></label>
			</div>
			<div class="header-center">
				<a href="index.html">
  					<img class="logo" src="images/rainydays-logo.png" alt="RainyDays Logo">
				</a>
</div>
			<div class="header-right">
				<div class="icon-group">
					<a href="profile.html"><i class="fa-regular fa-user"></i></a>
					<a href="favorites.html"><i class="fa-regular fa-heart"></i></a>
					<a href="shopping-bag.html"><i class="fa-solid fa-bag-shopping"></i></a>
				</div>
			</div>
		</div>
		<nav class="header-nav">
			<label for="menu-checkbox" class="close-icon"><i class="fa-solid fa-xmark"></i></label>
			<a href="women/jackets.html">Women</a>
			<a href="men/jackets.html">Men</a>
			<a href="news.html">News</a>
			<a href="sale.html">Sale</a>
		</nav>
	</header>